.main {
	margin: 0 auto;
	width: 100%;
	max-width: 72rem;
	padding: 1.25rem;
}

.grid {
	display: grid;
	grid-template-columns: 1fr;
	gap: 1rem;
}

@media (min-width: 768px) {
	.main {
		padding: 2rem 2.25rem;
	}

	.grid {
		gap: 1.25rem;
	}
}

@media (min-width: 1024px) {
	.grid {
		grid-template-columns: 1fr 1.2fr;
	}
}
